<h1>Bookings</h1>

<h2>All Bookings</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="booking in bookings">
            <td>
                {{ booking.name }}
            </td>
            <td>
                {{ booking.start }}
            </td>
            <td>
                {{ booking.end }}
            </td>
        </tr>
    </tbody>
</table>

<h2>Add new Booking</h2>

<form name="bookingForm" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name" required ng-model="newBooking.name"/>
        </div>
    </div>
    <div class="form-group">
        <label for="inputStart" class="col-sm-2 control-label">Start</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputStart" placeholder="Start" required ng-model="newBooking.start"/>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEnd" class="col-sm-2 control-label">End</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEnd" placeholder="End" required ng-model="newBooking.end"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="bookingForm.$invalid" ng-click="saveNewBooking()">Create new Booking</button>
        </div>
    </div>
</form>
